@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:justify">
    Создайте Web приложение, используя MVC и Razor (можно использовать шаблон из Visual Studio), с возможностями: 1.
    Отображать список сотрудников; 2. Создавать,
    редактировать и удалять сотрудника; 3. Назначать
    сотруднику руководителя из списка сотрудников. Для хранения данных использовать MS SQL или SQL Express.
    Для доступа к данным использовать Entity Framework. Как плюс: 1. Создание системы авторизации 2. Использование AJAX запросов без заголовка *
</div>
